body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:50%;
}

img {
  max-width: 250px;
}
