body {
  height: 100%;
  width: 100%;
  background-color: ivory;
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}
